* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}
html {
  font-size: 62.5%; /*10/16*100*/
}

header {
  background: linear-gradient(#0000008a, #08080888),
    url(img/main-img.jpg) no-repeat;
  height: 100vh;
  background-position: center;
  width: 100%;
  background-size: cover;
}
@media (max-width:600px) {
  header{
    background-position: top;
    height: 80vh;
  }
}

.header__logo {
  justify-content: space-between;
  display: flex;
  border-top: 1px solid rgb(208, 207, 207);
  border-bottom: 1px solid rgb(208, 207, 207);
}
.header__logo img {
  width: 25%;
  padding: 0 2% 0 2%;
  border-right: 1px solid white;
}
@media (max-width:600px) {
  .header__logo img{
    width: 60%;
    border: none;
    display: block;
    margin: 10px auto;
  }
}
button {
  color: white;
  background-color: rgb(62, 169, 20);
  padding: 1rem 2.2rem;
  font-size: 1.5rem;
  margin: auto 3rem;
  width: fit-content;
  font-weight: 700;
  border-radius: 0.6rem;
  height: 25%;
  text-transform: uppercase;
  border: 1px solid rgb(62, 169, 20);
  cursor: pointer;
}
@media (max-width:600px) {
  .header__logo button{
   display: none;
  }
}
button::after,
button:link,
button:visited {
  background-color: #3e3c3c09;
  border-color: #3e3c3c13;
}
button:hover {
  background-color: #3e3c3c48;
  border-color: #3e3c3c4f;
}

.header__text-box {
  position: absolute;
  top: 60%;
  left: 30%;
  transform: translate(-10%, -50%);
  text-align: center;
}
@media (max-width:600px) {
  .header__text-box{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    padding: 30px;
  }
}
.heading-primary {
  color: #fff;
  font-size: 6rem;
  margin-bottom: 1.5rem;
  animation: easein .3s ease-in;
}
@media (max-width:600px) {
  .heading-primary{
    font-size: 3rem;
    width: 100%;
  }
}
@keyframes easein {
  0% {
    transform: scale(.8, .8);
    opacity: .4;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}
@keyframes easein2 {
    0% {
      transform: scale(.7, .7);
      opacity: 0;
    }
    100% {
      transform: scale(1, 1);
      opacity: 1;
    }
  }
@keyframes easeinbtn {
    0% {
      transform: scaleX(.1) scaleY(.1);
      opacity: 0;
    }
    50%{
        transform: scaleX(.6) scaleY(.6);
        opacity: 0; 
    }
    100% {
      transform: scaleX(1) scaleY(1);
     opacity: 1;
    }
  }
.heading-secondary {
  color: #fff;
  font-size: 3rem;
  margin-bottom: 4rem;
  font-weight: 500;
  animation: easein2 .7s ease-in;
}
.btn {
  padding: 1.5rem 2.6rem;
  background-color: #0075c1;
  border: 1px solid #0075c1;
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: 700;
  border-radius: 3px;
  color: #fff;
  animation: easeinbtn 1.1s ease-in;
}
.img-mouse{
    width: 4%;
    position: absolute;
    margin-top: 23vh;
    margin-left: 47%;
    display: flex;
    animation: moveUp 1.7s infinite;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}
@media (max-width:600px) {
  .img-mouse{
    margin-top: 10vh;
    margin-left: 40%;
  }
}
@keyframes moveUp {
    0%{
        transform: translateY(-3rem);
        opacity: 0;
    }
    
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.container{
    min-width: 100%;
    display: flex;
    background-color: #0075c1;
}
@media (max-width:1000px) {
  .container{
    width: 100%;
    display: block;
  }
  .textinput,#amount{
    padding: 0;
  }
  .col5, .col6{
    display: none;
  }
}
.row{
    display: flex;
    width: fit-content;
    margin-left: 4rem;
    margin-right: 4rem;
}
@media (max-width:600px) {
  .row{
    display: none;
  }
}
.col1,.col2,.col3,.col4,.col5,.col6{
    margin-right: 2rem;
    font-size: 3rem;
}
@media (max-width:900px) {
  .col1,.col2,.col3,.col4,.col5,.col6{
    margin-right: .5rem;
    font-size: 1rem;
  }
  .row{
    display: none;
  }
}
.textinput,#amount{
    padding: 1.5rem 3rem;
    margin: 1rem;
    font-size: 1.3rem;
    border-radius: 5px;
    outline: none;
    border: 1px solid white;
}
.btn2{
    height: 70%;
    width: 100%;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-left: 0;
    background-color: #ffc107;
    border-color: #ffc107;
}
@media (max-width:900px) {
  .btn2{
    width: 20%;
  }
}
.btn2:hover{
    background-color: #d9a506;
    border-color: #dca605;
 
}
/* ratings */
.main{
    min-height: 100vh;
    background-color: #f3f1f1;
    justify-content: center;
    display: flex;
    align-items: center;
}
.slide-rating{
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
  /* background-color: #777; */
}
.slide-container{
  margin: 0 40px;
  /* padding: 45px 20px; */
  overflow: hidden;
  border-radius: 25px;
}
.img-content, .card-content{
  padding: 10px 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-content{
  row-gap: 5px;
  position: relative;
  padding: 25px 0;
 
}
.card{
  border-radius: 25px;
  background-color: #fff;
}
.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  padding: 3px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #3160e4;
}
.description{
  font-size: 1.6rem;
  color: #6f6c6c;
  padding:8px 2px;
  text-align: center;
}
.profile-name{
  font-size: 2rem;
  letter-spacing: 1.2px;
  font-weight: 600;
  text-transform: uppercase;
  color: #333;
}
.overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 25px 25px 0 25px;
  background-color:#087ac6;
}
.overlay::before,.overlay::after{
  position: absolute;
  content: '';
  height: 40px;
  width: 40px;
  background-color:#087ac6;
  right: 0;
  bottom: -40px;
}
.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: white;
}
.view-more{
  border: none;
  font-size: 1.6rem;
  color: #fff;
  padding: 10px 16px;
  background-color: #0075c1;
  border-radius: 4px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.view-more:hover{
  background-color: #148ee0;
}
.marginbtn{
  margin-right: -10px;
}
.marginbtn2{
  margin-left: -10px;
}

.rating-heading{
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  margin: 10px;
  color: #066086;
  font-size: 30px;
}
@media (max-width:600px) {
  .rating-heading{
    font-size: 18px;
  }
}
.ratings{
  color: gold;
  font-size: 16px;
}
.middle-div{
  min-height: 85vh;
  margin-top: 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #f7f2f2;
}
.middle-container{
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 100px;
}
.content-section{
  float: left;
  width: 55%;
}
.image-section{
  float: right;
  width: 40%;
}
.image-section img{
  width: 100%;
  height: auto;
}
.content-section .title{
  text-transform: uppercase;
  font-size: 2.8rem;
  color:#03558b;
}
.content-section .content h3{
  margin-top: 20px;
  color: #595757;
  font-size: 20px;
}
.middle-para{
  margin-top: 10px;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.5;
}
.middle-button{
  margin-top: 30px;
}
.middle-btn{
  text-decoration: none;
  background-color: #3d3d3d;
  padding: 12px 40px;
  color: #fff;
  font-size: 25px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.middle-btn:hover{
  background-color: #096da7;
}
.social{
  margin: 40px;
}
.social i{
  color: #a52a2a;
  font-size: 30px;
  padding: 0 10px;
}
.social i:hover{
  color: #0075c1;
}
@media (max-width:786px) {
  .middle-container{
    padding-top: 50px;
  }
  .content-section{
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }
  .image-section{
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }
  .content-section .title{
    text-align: center;
    font-size: 19px;
  }
  .middle-button{
    text-align: center;
  }
  .social {
    text-align: center;
  }
}
.getstarted{
  background-color: #0075c1;
  height: fit-content;
  width: 100%;
}
.textstarted{
  margin: 10px auto;
  padding: 10px 20%;
}
.textstarted .paraend{
  font-size: 16px;
  color: #fff;
  display: inline-block;
  font-weight: 400;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 55%;
}
.textstarted .btn-last{
  width: 40%;
  float: right;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  padding: 14px 20px;
  font-size: 20px;
  margin-top: 20px;
  font-weight: 500;
  background-color: rgb(12, 161, 12);
}
@media (max-width:600px) {
  .textstarted .btn-last{
    width: 100%;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .textstarted .paraend{
    width: 100%;
  }
}
.textstarted .btn-last:hover{
  background-color: rgb(207, 223, 248);
  color: #03558b;
}
.questions{
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 50px;
  width: auto;
  font-size: 18px;
  background-color: #fff;
  margin-bottom: 60px;
  border-radius: 10px;
  
}
.frequently-asked{
  text-align: center;
  display: block;
  text-transform: uppercase;
  margin: 20px auto;
}
.accordion{
  position: relative;
  width: 60%;
  margin-left: 40px;
}
.accordion-img{
  position: relative;
  width: 320px;
}
.content-accordion{
  margin-top: 35px;
  margin-right: 50px;
}
.question{
  display: flex;
  justify-content: space-between;
}
.title-question{
  margin: 14px 0;
  font-size: 16px;
  padding: 0;
  font-weight: 500;
  color: #000;
}
.question-answer{
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
}
.question-btn{
  cursor: pointer;
  font-size: 14px;
  color: #000;
  background: transparent;
  border-color: transparent;
}
.up-icon{
  display: none;
}
.answer{
  font-size: 15px;
  line-height: 1.8;
  display: none;
}
.show-text .answer{
  display: block;
  color: #636262;
  font-size: 16px;
}
.show-text .up-icon{
  display: inline;
}
.show-text .down-icon{
  display: none;
}
@media screen and (max-width:990px) {
  .accordion{
    width: 100%;
    height: auto;
    padding: 10px 20px;
  }
  .content-accordion{
    margin-top: 80px;
  }
  .frequently-asked{
    font-size: 20px;
    display: inline-block;
    margin: 10px auto;
  }
  .accordion-img{
    position: relative;
    width: 420px;
    top: 88px;
  }
  @media (max-width:600px) {
    .accordion-img{
      width: 100%;
      margin: 0 auto;
    }
  }
  .question-answer{
    width: 100%;
    margin-top: 10px;
  }
}